
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav .nav_container img {width: 80%;} 
  .nav_container{width: 90%;}
  main{width: 95%;margin: 60px auto 20px auto;}
  main hr{width: 90%; margin: 20px auto 0px auto;}
  main .information{width: 90%;}
  .input_field{width: 90%;}
  .header_text{width: 85%;}
  .header_text label{font-size: 1.8em;}
  .header_text p{font-size: 0.90em;}
  .customer_TermsConditions {width: 90%;}
  main button {width: 90%;}
  main .hr_footer{width: 90%; margin: 20px auto 20px auto;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav_container{width: 70%;}
  main{width: 95%;margin: 60px auto 20px auto;}
  main hr{width: 90%; margin: 20px auto 0px auto;}
  main .information{width: 90%;}
  .input_field{width: 90%;}
  .header_text{width: 85%;}
  .header_text label{font-size: 1.8em;}
  .header_text p{font-size: 0.90em;}
  .customer_TermsConditions {width: 90%;}
  main button {width: 90%;}
  main .hr_footer{width: 90%; margin: 20px auto 20px auto;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav_container{width: 70%;}
  main{width: 70%;margin: 60px auto 20px auto;}
  main hr{width: 60%; margin: 20px auto 0px auto;}
  main .information{width: 50%;}
  .input_field{width: 60%;}
  .header_text{width: 70%;}
  .header_text label{font-size: 2em;}
  .header_text p{font-size: 1.1em;}
  .customer_TermsConditions {width: 70%;}
  main button {width: 25%;}
  main .hr_footer{width: 50%; margin: 20px auto 20px auto;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav_container{width: 70%;}
  main{width: 60%;margin: 60px auto 20px auto;}
  main hr{width: 70%; margin: 20px auto 0px auto;}
  main .information{width: 70%;}
  .input_field{width: 70%;}
  .header_text{width: 60%;}
  .header_text label{font-size: 2em;}
  .header_text p{font-size: 1.1em;}
  .customer_TermsConditions {width: 70%;}
  main button {width: 25%;}
  main .hr_footer{width: 70%; margin: 20px auto 20px auto;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
  .nav_container{width: 70%;}
  main{width: 60%;margin: 100px auto;}
  main hr{width: 50%; margin: 50px auto 20px auto;}
  main .information{width: 50%;}
  .input_field{width: 50%;}
  .header_text{width: 60%;}
  .header_text label{font-size: 2em;}
  .header_text p{font-size: 1.1em;}
  .customer_TermsConditions {width: 90%;}
  main button {width: 25%;}
  main .hr_footer{width: 50%; margin: 20px auto 20px auto;}
}



body {
  height: 1500px;
  background-color: #f5f5f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; */


}

/* ============== NAV BAR ============ */
nav {
  top: 0;
  /* overflow: hidden; */
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.329);
}
nav .nav_container {
  /* width: 90%; */
  height: 50px;
  margin: 0px auto;
}
nav .nav_container img {
  margin-top: 13px;
  margin-right: 20px;
}

/* =============== MAIN ============== */
main {
  /* margin: 100px auto; */
  /* width: 60%; */
  height: 1240px;
  background-color: white;
  border-radius: 15px;
  /* -----== SignUp Button==-----  */
}
/* main hr {
  margin: 50px auto 20px auto;
  width: 50%;
} */
main .information {
  margin: 2px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  font-size: small;
  color: #6c757d;
}
main button {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 25%; */
  height: 4em;
  font-size: large;
  color: white;
  background-color: #3367d6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
main button:hover {
  background-color: #042366;
}

.header_text {
  /* width: 60%; */
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.header_text label {
  /* font-size: 2em; */
  font-weight: 500;
  margin: 40px 0 20px 0;
}
.header_text P {
  /* font-size: 1.1em; */
  text-align: center;
  color: #6c757d;
}

/* -------=== Input Form ===------ */
.input_field {
  display: flex;
  flex-direction: column;
  /* background-color: #6c757d; */
  /* width: 50%; */
  margin: 0px auto;
}
.input_field .input {
  margin-top: 40px;
}
.input_field .input::before{
  content: ' *';
  color: rgb(201, 79, 79);
}
.input_field .input i {
  color: #6c757d;
}
.input_field .input i:hover {
  color: #3367d6;
}
.input_field .input:nth-child(5) {
  display: flex;
}
.input_field input {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  padding: 5px 0px 5px 5px;
  border-radius: 5px;
  border: 1px solid #6c757d;
}
.input_field input:hover {
  border-color: #3367d6;
}
.input_field input:focus {
  border: 1px solid #3367d6;
  outline: 0;
}
.input_field p {
  font-size: small;
  color: #6c757d;
}

/* ------- Country Option -------  */
.input .country_select select {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  padding: 10px 0px;
  margin-top: 10px;
}
.input .country_select select:hover {
  border-color: #3367d6;
}
.input .country_select select:focus {
  border-color: #3367d6;
}

/* ------- Laguage Option -------  */
.input_field .laguage {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.input_field .laguage select {
  border-radius: 5px;
  padding: 10px 0px;
  margin-top: 10px;
  height: 40px;
}

/* -----== Terms Condition Check ==-----  */
.customer_TermsConditions {
  margin: 40px auto;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer_TermsConditions label {
  padding-left: 1.5%;
  padding-right: 4%;
}/*# sourceMappingURL=style.css.map */

.red-button {
  background-color: red;
  color: white;
}



/* ============== Footer ============ */
footer{
  width: 100%;
  height: 90px;

}
.footer_container{
  width: 70%;
  height: 90px;
  margin: 0px auto;
}
.footer_container .footer_right label{
  font-size: small;
  font-weight: 500;
  color: rgb(100, 100, 100);
}